<template>
  <v-app>
    <v-content>
      <Agenda/>
    </v-content>
  </v-app>
</template>

<script>
import Agenda from './components/Agenda';

export default {
  name: 'App',

  components: {
    Agenda,
  },

  data: () => ({
    //
  }),
};
</script>
